* {
    margin: 0;
    padding: 0;
}

body {    
    background: #6b2fc2;
    overflow-y: scroll;
}

nav {
    background: #00389f;
    font-weight: 600;
}

.fecha {
    max-height: 560px;
}

h1 a {
    text-decoration: none;
    color: white;
}

.card-footer {
    font-weight: bold;
    background: #00389f;
    color: white;
    font-size: 1.1rem;
}


.navbar-toggler.custom-toggler {
    background-color: gray;
    /* Cambia el color de fondo del botón */
    border-color: black;
    /* Cambia el color del borde del botón */
    color: gray;
    /* Cambia el color del texto del botón */
}

.navbar-toggler.custom-toggler:hover {
    background-color: gray;
    /* Cambia el color de fondo del botón cuando se pasa el mouse sobre él */
    border-color: black;
    /* Cambia el color del borde del botón cuando se pasa el mouse sobre él */
}

.multi-column-list {
    column-count: 3;
    /* Establece el número de columnas */
    column-gap: 20px;
    /* Establece el espacio entre columnas */
    list-style-type: none;
    /* Elimina los marcadores de lista */
    padding: 0;
    /* Elimina el relleno predeterminado de la lista */
}

.multi-column-list li {
    margin-bottom: 10px;
    /* Agrega un espacio entre los elementos de la lista */
    color: white;
    font-weight: 600;
    font-size: large;
    text-align: left;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .multi-column-list {
        column-count: 2;
        /* Cambia a dos columnas en pantallas pequeñas */
    }
}

/* Media query para pantallas extra pequeñas */
@media (max-width: 576px) {
    .multi-column-list {
        column-count: 1;
        /* Cambia a una sola columna en pantallas extra pequeñas */
    }
}

.multi-column-list li a {
    color: white;
    font-weight: 600;
    font-size: large;
    text-align: left;
}

/* contador */
#countdown {
    display: flex;
    justify-content: center;
}

.ancho{
    display: grid;
    width: 110px;
    justify-content: center;
}
.time-container {
    display: flex;

}

.time-box {
    width: 100px;
    height: 100px;
    background-color: #d800ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.time-content {
    text-align: center;
}

#days{
    color: white;
    font-weight: 700;
}

#hours{
    color: white;
    font-weight: 700;
}

#minutes{
    color: white;
    font-weight: 700;
}

#seconds{
    color: white;
    font-weight: 700;
}
.time-number {
    font-size: 3rem;
    color: white;
    display: block;
    /* Asegura que el número esté en una línea nueva */
}

.time-label {
    font-size: 1.3rem;
    color: white;
    display: block;
    /* Asegura que el texto esté en una línea nueva */
}





.carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll; /* Habilita el desplazamiento horizontal */
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

.elemento {
    margin: 0 5px;
    background-color: #d800ff;
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: 200px; /* Establece la altura deseada */
    max-height: 200; /* Establece la altura máxima para asegurar que las imágenes no se estiren más allá de 150px */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
}

.elemento img {

    height: 200px;
}





footer{
    background: white ;
}